# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

/lua/versions/lua-*/build/
/lua/versions/luajit-*/src/lj_*def.h
/lua/versions/luajit-*/src/host/buildvm_arch.h
/lua/versions/luajit-*/src/jit/vmdef.lua
/lua/versions/luajit-*/src/lua51.exp
build/
